.public-nav-item {
  display: block;

  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);

  @media screen and (min-width: 768px) {
    width: 144px;
  }
}

.active-public-nav-item {
  display: block;

  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgb(255, 107, 9);

  @media screen and (min-width: 768px) {
    width: 144px;
  }
}
